body{
  background-color: skyblue;
}
.cloud1{
  float: left;
  margin-left: 150px;
}
.cloud2{
  float: right;
  margin-right: 150px;
}
.runway{
  background-color: black;
    background-size: cover;
  height: 85px;
  margin-bottom: 0px !important;
  /* position: absolute;
  bottom: 0px; */
}